[2017-11-22 16:28] jorge9200 opened #1 "El badge de la bandeja de correos enviados no se actualiza nunca"

[2017-11-22 16:29] jorge9200 commented on #1
parece que directamente no esta poniendo el numero de enviados correcto

[2017-11-22 16:37] jorge9200 commented on #1
bueno esperate, por que puede ser debido a que estoy usando una cuenta gmail en el cliente de outlook, esta haciendo cosas muy locas

[2017-11-23 12:33] jorge9200 opened #2 "No encuentro manera de borrar una cuenta de la aplicación"
En caso de que no exista, necesitamos una. Podemos hacerla como en gmail, al hacer hover sobre la cuenta, aparece un boton para borrarla:

![image](https://user-images.githubusercontent.com/8724844/33173045-dd1eb01a-d052-11e7-83fc-565e5824218c.png)

[2017-11-23 12:35] jorge9200 commented on #1
Parece que ni siquiera se actualiza al cerrar y re-abrir la aplicación

[2017-11-23 12:51] jorge9200 opened #3 "Las bandejas no se actualizan en tiempo real cuando se recibe un nuevo correo"

[2017-11-23 12:52] jorge9200 opened #4 "Hay ocasiones en los que los badges no coinciden con el numero de correos sin leer de la bandeja"

[2017-11-23 12:55] jorge9200 commented on #4
![image](https://user-images.githubusercontent.com/8724844/33173855-fee287b4-d055-11e7-80e7-7caa81f18526.png)

[2017-11-23 12:57] jorge9200 opened #5 "La aplicacion deberia tener un min-width mas bajo -> Unos 800px"

[2017-11-23 13:06] jorge9200 commented on #4
![image](https://user-images.githubusercontent.com/8724844/33174235-735ca10a-d057-11e7-9de4-765ec831ecc0.png)

[2017-11-23 13:11] jorge9200 opened #6 "Cuando eliminas un correo deberia incrementar el badge en correos eliminados?"
No lo hace, aparece dentro al refrescar la bandeja pero como si estuviese "leido"

[2017-11-23 13:12] jorge9200 commented on #6
lo mismo cuando lo archivas

[2017-11-24 08:18] RJ64 commented on #5
Cambiado

[2017-11-24 08:19] RJ64 commented on #2
Así se borran las adicionales, ¿y la principal cómo la hago?

[2017-11-24 08:22] RJ64 commented on #1
¿Cuándo se debería actualizar? Tendrá los problemas que todas las carpetas pero no hay ningún motivo especial no? Cuando envías un correo debería estar como leido

[2017-11-24 08:24] RJ64 commented on #3
¿Puedes dar más detalles? A mí sí me aparecen

[2017-11-24 14:15] tavi004 opened #7 "Cambios diseño 1"
# Header

- [x] El header tendría que ser 3px mas alto (51px)
- [x] Hay un borde-bottom que no debería estar
- [x] El logo no está bien, usa esta imagen: [logo-outlook.zip](https://github.com/Inevio/Outlook/files/1499896/logo-outlook.zip)

# Sidebar

- [x] El search bar debería tener una altura de 40px
- [x] Usa la lupa del sprite
- [x] La anchura del sidebar debería ser de 222px
- [x] A la derech

[2017-11-27 13:36] Robby2023 opened #8 "Me tarda siglos en listar los correos"
He grabado un video en el que se ve que GMail no tarda casi pero que Outlook me tarda siglos en listar los correos. Mando el video por el grupo de Telegram.

[2017-11-27 14:49] #5 closed, assigned to nobody

[2017-11-27 15:53] jorge9200 commented on #3
parece que ahora si funciona, cierro

[2017-11-27 15:53] #3 closed, assigned to nobody

[2017-11-27 15:54] jorge9200 commented on #2
@RJ64 en teoria es que la principal tambien deberia mostrarse abajo, solo que en modo active. @tavi004 confirma con diseño

[2017-11-27 15:55] jorge9200 commented on #1
es cierto, cierro

[2017-11-27 15:55] #1 closed, assigned to nobody

[2017-11-27 16:00] tavi004 commented on #2
Efectivamente, todas las cuentas deberian salir abajo. La activa debería salir en azul con un indicador a la izquierda y las inactivas en gris. Y para borrar como en gmail al hacer hover sobre la cuenta a la derecha te aparece un boton de "-"
![image](https://user-images.githubusercontent.com/3248361/33275951-66b4d036-d394-11e7-99f5-b879fb4a05a2.png)

[2017-11-29 09:00] jorge9200 opened #9 "Implementar drag & drop para attachments"
Cuando estas en la vista de nuevo correo. Deberías poder hacer drag & drop desde nuestro Files a tu aplicación y hacer la asignación del attachment.

Actualmente se esta implementando para gmail, aqui la issue para ver como hacerlo:
https://github.com/Inevio/Gmail/issues/3

[2017-12-15 17:32] Alb3niz opened #10 "No se muestra texto en el boton de autentificacion"
![screen shot 2017-12-15 at 18 31 47](https://user-images.githubusercontent.com/26099829/34053229-407531dc-e1c6-11e7-994f-4e4644846cd8.png)

[2017-12-15 17:50] RJ64 commented on #6
Creo que está solucionado.
Cuando borras un correo sin leer se incrementa en Trash y decrementa en la carpeta donde estuviera. Igual con Archive. ¿Era eso a lo que te referías no?

[2017-12-15 17:50] RJ64 commented on #2
Done

[2017-12-15 17:52] RJ64 commented on #10
Eso es por un bug que ya le comenté a Javi. Justo has abierto cuando acababa de guardar el archivo js y por algún motivo hasta pasados unos 20 segundos no carga el js. Pasa con todos los archivos. Vuelve a probar

[2017-12-15 17:52] #10 closed, assigned to RJ64

[2017-12-15 18:10] RJ64 commented on #4
En principio solucionado. Aunque igual deberíais revisar los eventos. Hay a veces que no los estoy recibiendo o tarda mucho en recibirlos

[2017-12-15 18:31] RJ64 commented on #9
En principio implementado pero está fallando la función addAttachment con lo que no lo he podido comprobar. Echad un vistazo a esa función y a ver si tira

[2017-12-18 09:50] jorge9200 commented on #9
si depende de la resolucion de addAttachment() por nuestro lado, dejo asignada a @icastillejogomez, para que la desbloquee cuando se solucione el problema en cuestion

[2017-12-18 10:38] jorge9200 commented on #4
lo cierro hasta que se replique o quede fixed

[2017-12-18 10:38] #4 closed, assigned to RJ64

[2017-12-18 10:44] jorge9200 commented on #2
no coincide con el diseño propuesto:

![image](https://user-images.githubusercontent.com/8724844/34102245-a94fabfa-e3e8-11e7-953d-69cad186efbe.png)

Por favor @tavi004 @RJ64 poneros de acuerdo para proporcionaros lo que necesitéis y dejarlo bien please

[2017-12-18 10:59] jorge9200 commented on #6
solo los correos no leidos incrementan el badge de la bandeja de eliminados. Cuando eliminas un correo ya leido no incrementa el badge, ¿es el comportamiento habitual de outlook?

[2017-12-18 11:07] jorge9200 opened #11 "Faltan los badges de aplicacion"
Debe hacerse uso del api de App para setear el badge de aplicación a la suma total de las notificaciones pendientes de todas las cuentas vinculadas.

Para ello:

`api.app.setBadge(numberOfBadge);`

[2017-12-18 14:29] RJ64 commented on #6
El badge de eliminados es igual que inbox, son el número de correos sin leer por tanto solo se incrementa si eliminas uno no leido

[2017-12-18 14:43] jorge9200 commented on #6
es cierto, sorprendentemente ese es el comportamiento esperado, cierro

[2017-12-18 14:43] #6 closed, assigned to RJ64

[2017-12-19 09:34] tavi004 commented on #2
El diseño no coincide @RJ64 , mira estas imágenes con guías para maquetarlo guay. El scroll debería estar mas pegado y no estar fijado, solo cuando hagas hover sobre esa zona que te salga un pequeño scroll a la derecha.

![delete](https://user-images.githubusercontent.com/3248361/34149855-ca553130-e4a6-11e7-92a5-22da8003508e.png)
![delete 2x](https://user-images.githubusercontent.com/3248361/34149

[2017-12-19 10:39] Alb3niz opened #12 "Añadir checkboxes a la izquierda de cada email"
Screenshot del outlook original
![screen shot 2017-12-19 at 11 36 40](https://user-images.githubusercontent.com/26099829/34153097-24c3cafa-e4b1-11e7-9efb-cfd2ae320d5b.png)

[2017-12-19 23:31] RJ64 commented on #2
¿Mejor ahora?

[2017-12-19 23:33] RJ64 commented on #11
Necesitaría más información acerca de cómo funciona

[2017-12-19 23:41] RJ64 commented on #7
Revisa de nuevo. Los textos no sé por qué no te aparecieron pero están. Faltaría hacer uso de los sprites

[2017-12-19 23:49] RJ64 commented on #8
Lo he estado revisando. Esto es lo que se lleva a cabo: Se listan las cuentas de correo del usuario, de la primera (la principal), solicitamos las carpetas y de la carpeta de inbox los 50 primeros correos. No sabría deciros por qué a todos tarda algo normal y a tí te tarda tanto. Nosotros no hacemos nada diferente

[2017-12-20 14:07] Alb3niz opened #13 "La aplicación se queda en la pantalla inicial de login"
Cuando abro la aplicación y le doy a lo que sería el botón de logearse (una barra gris de momento) no ocurre nada. Si abro la consola y vuelvo a abrir la aplicación se ve que ya tiene mi cuenta y que ha cargado mis emails. Esto es lo que se ve:

<img width="1192" alt="screen shot 2017-12-20 at 15 01 48" src="https://user-images.githubusercontent.com/26099829/34210760-48eb79d2-e597-11e7-945d-d9f94b

[2017-12-20 14:08] RJ64 commented on #13
Estoy trabajando en ello y tenéis el bug en la plataforma que ya he comentado múltiples veces a varios de vosotros

[2017-12-20 14:12] jorge9200 commented on #13
@RJ64 , puedes comentar cual es el fallo exactamente? Así dejamos esta issue abierta asignada a quien corresponda para arreglarlo.

[2017-12-20 14:16] RJ64 commented on #13
Cuando modifico un archivo mediante ftp, al guardar tengo que esperar como unos 20 segundos a que se cargue. Trato de explicarme mejor: al guardar cualquier archivo cuando el filezilla me dice se ha subido correctamente recargo horbito y al abrir el programa, si he modificado el css todo me aparece desordenado porque el css está vacio, si es el javascript se me queda la página de login porque el j

[2017-12-20 14:20] jorge9200 commented on #11
El badge es el numero que aparecerá en el boton de la aplicación en todo momento. Este indicará el numero de notificaciones totales que tenga la aplicación. Lo único que deberás hacer es mantenerlo actualizado al numero total de mensajes no leidos (conjunto de todas las cuentas activas).

Como es algo que debera actualizarse aun con la aplicacion cerrada deberá hacer uso del service.js.

Pero este

[2017-12-20 14:30] jorge9200 commented on #13
entiendo, y eso provoca tambien el que no pase a veces de la pantalla de log in?

[2017-12-20 14:31] jorge9200 commented on #13
nos lo asigno para que intentemos solucionarlo

[2017-12-20 14:48] tavi004 commented on #2
Bueno vamos a ir por partes porque todavía sigue estando mal.

- El tamaño y color del email y contador no están bien, usa los mismos que los del titulo
- Todavía falta la linea a la izquierda de la cuenta que está activa. 2px ancho y #0078d7
- Los contadores deberían ser grises, solo en el caso de que sea la cuenta activa en cuyo caso tanto el correo como el contador debe ser azul (0078d7).
- La

[2017-12-20 14:59] tavi004 commented on #7
Los textos no salen si la plataforma está en ingles, he cambiado ahora a español y si que salen. Se deberían meter también para la vers en ingles.

También te dejo por aquí el sprite de los iconos porque no se si te lo pasé. Si no te lo llegué a pasar y lo necesitas porfa pídemelos, todo lo que necesites
![sprite-outlook](https://user-images.githubusercontent.com/3248361/34213158-b2b3de70-e59e-11e

[2017-12-20 17:13] Robby2023 commented on #8
@icastillejogomez lo hemos estado mirando y efectivamente se queda parado en las funciones "getFolders" y sobretodo en "getMessagesInFolder", ¿puedes revisar esas funciones a ver por qué están tardando tanto?

[2017-12-20 17:21] RJ64 commented on #7
En principio ya está solucionado todo lo que pedís aquí. Lo del inglés no sé qué decirte. En principio está bien. Tenemos tanto la versión española como la de inglés aunque nos dijo @jorge9200  que no era necesario. Los archivos es.json y en.json son iguales cambiando los textos con lo que no sabría por qué no funciona.

[2017-12-20 22:30] RJ64 commented on #8
Es de vez en cuando. Yo por mi experiencia no me sorprendería que fuese hotmail el problema. Que tiende a tardar a veces

[2017-12-20 22:31] RJ64 commented on #13
Si, porque entra cuando he debido modificar el js y entonces solo carga el html y el css y no carga ni los textos

[2017-12-20 22:40] RJ64 commented on #11
¿Pero cómo lo hacéis? Porque no se cargan los js de todos los programas al entrar en horbito no? Para mostrar el badge correctamente tendría que pedir todas las cuentas y todas las carpetas de todas las cuentas para encontrar el inbox. Lo digo para que seáis conscientes de que se van a tener que llamar a muchas apis consumiendo muchos recursos

[2017-12-20 22:40] RJ64 commented on #11
Confírmame y lo hacemos

[2017-12-20 23:03] RJ64 commented on #2
Revisaré el plugin.

Está todo corregido salvo lo primero que me pones. No termino de saber a qué te refieres con lo del tamaño y color del email y contador
El icono de borrar ni lo había visto. Ya está puesto

[2017-12-21 08:37] jorge9200 commented on #11
La idea seria hacer lo siguiente:

Usar el service.js de la app de outlook, un script que se ejecutará en segundo plano siempre. Para usarlo puedes seguir la guia que hice en esta issue:
https://github.com/Inevio/Gmail/issues/12

Introduces el script en el info.json
![image](https://user-images.githubusercontent.com/8724844/34247281-3524e4d8-e632-11e7-856e-1f32ed63f275.png)

Introduces el permiso

[2017-12-21 08:40] jorge9200 commented on #7
Aquí solo faltaria tener los textos bien traducidos? Eso lo podemos hacer nosotros. Si quieres pasame el es.json y te devuelvo el en.json bien traducido.

[2017-12-21 09:06] tavi004 commented on #7
Los iconos no están centrados con los textos

![image](https://user-images.githubusercontent.com/3248361/34248387-2fe2aaec-e636-11e7-8232-fce2b1cf3f4c.png)

El puntito separador tampoco está centrado con el texto, bajalo unos pixeles.
![image](https://user-images.githubusercontent.com/3248361/34248438-577ba1e4-e636-11e7-8a78-8e71384e9935.png)

Los contextuales no salen bien, deberian salir como el

[2017-12-21 09:21] tavi004 commented on #2
A estos 2 textos me refiero. Que tienen que tener 13px tamaño, bold #717171
Y el contador igual, que esté gris y en estado activo se ponga en azul tanto el texto del mail como el contador
![image](https://user-images.githubusercontent.com/3248361/34248526-c23556d8-e636-11e7-9a52-6a397d0f56d9.png)

El icono sale estirado, no es el tamaño real de la imagen. El icono tiene que ser 14x14px
![image](ht

[2017-12-21 15:12] RJ64 commented on #2
Modificado

[2017-12-21 15:22] RJ64 commented on #7
Vuelve a probar porque no se ve así. He probado en firefox y chrome

![header](https://user-images.githubusercontent.com/2165183/34261927-14289d9a-e66b-11e7-95c0-8300da90fa5f.jpg)
![punto](https://user-images.githubusercontent.com/2165183/34261934-1a7ede7a-e66b-11e7-8bab-1bfe88ef0f5a.jpg)

[2017-12-21 15:24] RJ64 commented on #7
@jorge9200 Si lo tenemos hecho. Tenemos en.json:

{

    "welcomeTextLine1" : "Access your email directly from horbito.",
    "welcomeTextLine2" : "You can attach and download files directly to your account without ever needing to download them.",
    "loginOutlook"  : "Log in"

    "search" : "Search mails...",
    "folders" : "Folders",
    "accounts" : "Accounts",
    "send" : "Send",
    "atta

[2017-12-21 16:57] jorge9200 commented on #2
@RJ64 cuando termines una issue o vuelva a nuestro lado por favor reasigna la issue a su correspondiente (en este caso @tavi004, si no sabes a mi)

[2017-12-21 16:58] jorge9200 commented on #2
si no es imposible estar pendientes de que issues estan en nuestro tejado.

[2017-12-21 20:36] RJ64 commented on #11
Hecho. Aunque yo tengo dos cuentas por ejemplo. Cuando entro en horbito a lo mejor me aparece un 8 y tarda un rato en ponerme 68 (60 de la segunda cuenta). Esto es por el problema que hay comentado en otro hilo de que a veces tarda en responder las llamadas a las apis pero está funcionando perfectamente por nuestra parte. Y se actualiza si se recibe un correo

[2017-12-22 11:38] tavi004 commented on #7
A mi me siguen saliendo los contextuales como en la imagen, no se por que... si estoy usando chrome.

Y todavía me falta que arregles lo de los iconos, centrarlos.

[2017-12-22 12:43] jorge9200 commented on #11
Perfecto, lo damos por cerrado entonces y vamos a ver si conseguimos mejorar la latencia

[2017-12-22 12:43] #11 closed, assigned to jorge9200

[2017-12-22 12:44] jorge9200 commented on #7
a simple vista se ve, falta una coma detras del "Log in"
![image](https://user-images.githubusercontent.com/8724844/34298462-488b705e-e71e-11e7-91c6-5ba90a72c9bd.png)

[2017-12-22 12:45] jorge9200 commented on #7
Arregla lo del idioma y lo ultimo q falta de diseño y la cerramos! :)

[2017-12-22 15:13] tavi004 commented on #2
Ya está casi, solo faltaría el tamaño del numero de correo sin leer que sea 13px tambien y #717171 y alinearlo bien a la derecha:
![image](https://user-images.githubusercontent.com/3248361/34302851-0c8235c4-e733-11e7-853e-510d837eb92a.png)

[2017-12-22 17:14] RJ64 commented on #2
Hecho. No estaban alineados porque no estaba pensado para que hubiese más de 1000 sin leer. Lo hemos agrandado un poco

[2017-12-22 17:34] RJ64 commented on #7
Solucionado lo del idioma. @jorge9200 bien visto, no fui capaz de verlo.

@jorge9200 tú lo ves como @tavi004  o como se debería? No sé qué decirte, ahora mismo no lo puedo mirar en otros ordenadores. De todas maneras, lo que dices de centrar los iconos no sé, en la imagen que te he pasado para mí se ven centrados. Si me dices cuánto bajarlos lo hacemos

[2017-12-22 20:28] RJ64 commented on #12
Los checkboxes no eran un requisito. Ni al principio ni en la revisión se comentó

[2017-12-22 23:48] Alb3niz commented on #12
Yo acabo de entrar a la empresa y como soy de los pocos que usan el outlook, me han pedido que lo pruebe y de feedback. No lo he marcado como un bug, ni es urgente ni un requisito, pero si no se pueden seleccionar emails en la bandeja de entrada (con checkboxes o con cualquier otra cosa), para moverlos a una carpeta diferente o borrarlos hay que entrar en los emails y hacerlo uno a uno. Igual se p

[2018-01-03 11:04] tavi004 commented on #2
perfecto!

[2018-01-03 11:04] #2 closed, assigned to tavi004

[2018-01-03 12:21] tavi004 commented on #7
Vale pues vamos con la barra de herramientas.

- [x] Primero cambiar la fuente a Lato 13px y letter-spacing: 0.02em

- [x] Centrar bien los textos

- [x] Baja 1px todos los iconos, menos el de responder ![image](https://user-images.githubusercontent.com/3248361/34519989-111b67ce-f087-11e7-973d-eceead85f15b.png)

- [x] Bajar este icono 2px![image](https://user-images.githubusercontent.com/3248361/3

[2018-01-04 12:56] RJ64 commented on #7
En principio está todo lo que comentas hecho pero lo de la longitud en el responder (el último punto) en inglés por ejemplo, la palabra es mucho más pequeña y quedaba fatal. Lo que he hecho ha sido quitar el width que se adapte al texto de dentro. Dime lo que opinas

[2018-01-08 14:31] tavi004 commented on #7
Ok esta issue la veo guay, la cierro y en cuanto haga otra revisión a otras vistas te creo otra issue.

[2018-01-08 14:31] #7 closed, assigned to tavi004

[2018-01-08 14:43] jorge9200 commented on #13
parece que se soluciono

[2018-01-08 14:43] #13 closed, assigned to javiergarmon, icastillejogomez

[2018-01-08 14:53] Robby2023 commented on #12
Aunque no sea prioritario ni estuviese en los requisitos lo vuelvo a abrir porque es una mejora a futuro que tenemos que hacer.

[2018-01-08 16:12] Alb3niz opened #14 "Issues de Editor de Texto"
Yo creo que ninguno de estos issues es crítico para lanzar la app ya que en general la gente suele utilizar sus propios editores de texto antes de mandar un email, pero bueno, para que queden marcadas.

- La función de "italic" no convierte el texto seleccionado en italic al escribir un email nuevo.

- Las funciones de "Indent" y "Outdent" provocan que el texto seleccionado pierda el formato y el

[2018-01-08 16:28] Alb3niz opened #15 "Movimiento de emails entre carpetas"
Ahora mismo no hay (o no he encontrado) una manera de mover emails de una carpeta a otra (lo cual hace que la función de crear carpetas sea pointless de momento).

Nacho me ha confirmado que hay un método en la API para mover los correos de una carpeta o otra.

[2018-01-08 16:43] Alb3niz commented on #14
El texto dentro de el dropdown de tipo de letra (h1, h2, h3, etc...) está un pelín off.
![screen shot 2018-01-08 at 17 40 24](https://user-images.githubusercontent.com/26099829/34681222-77ace0ae-f49b-11e7-857e-c1f0cc53e87e.png)

[2018-01-08 16:56] Alb3niz opened #16 "No se pueden adjuntar archivos a un email nuevo"
La función de adjuntar archivos al escribir un email nuevo no funciona. Puedo usar la función y seleccionar el archivo que quiero adjuntar pero cuando le doy a seleccionar no ocurre nada.

Jorge me comenta que esto ya esta implementado y funcionando pero por el momento a mi no me funciona.

[2018-01-08 17:31] Alb3niz opened #17 "Sugerencia de autocompletado en el campo To/Para"
Como usuario habitual, estoy acostumbrado a que al escribir el email del destinatario, se autocomplete, o bien me deje elegir de mi lista de contactos de outlook.

Esto no se si se puede implementar o no.

[2018-01-09 16:41] Alb3niz opened #18 "Actualizar la bandeja de entrada"
A no ser que abra y cierre la aplicacion de outlook o actualice la pagina de Horbito, la bandeja de entrada no se actualiza en ningun momento. Lo mismo le pasa a la notificacion del icono de acceso directo que indica que hay un email nuevo.

[2018-01-10 19:52] icastillejogomez commented on #17
Como te dije es posible implementarlo, pero no sencillo. Como tal Outlook no te ofrece ningún recurso para obtener esa información ya que causaría una sobrecarga de red considerable. Habría que implementarlo en local, etc, etc. Dejo abierta y sin asignar por si en un futuro surge hacerlo.

[2018-01-10 19:56] icastillejogomez commented on #9
Necesito saber el error, los logs no me muestran nada.

[2018-01-10 19:57] icastillejogomez commented on #9
Estoy desplegando una actualización que imprime con mas detalle el proceso de addAttachments

[2018-01-11 11:38] icastillejogomez commented on #18
Eso era debido a las notificaciones de webhook. Ya están levantadas y he comprobado que llegan eventos. @Alb3niz revisa:

Por si siguiera sucediendo.

[2018-01-11 12:57] icastillejogomez opened #19 "Bucle infinito por el websocket de eventos "integrationGenericListAccounts""
En cuanto abres la app, empieza un bucle infinito de peticiones que salen de la app al backend de eventos "integrationGenericListAccounts"

Te dejo un video donde se ve: http://wz.io/f/MtjujZTL

[2018-01-11 13:35] icastillejogomez commented on #16
Cierro esta issue porque se va a solucionar junto a https://github.com/Inevio/Outlook/issues/9

Asi evitamos duplicados.

[2018-01-11 13:35] #16 closed, assigned to RJ64

[2018-01-11 13:56] Alb3niz commented on #18
Perfecto! Funciona estupendo.

[2018-01-11 14:08] #18 closed, assigned to RJ64

[2018-01-12 23:17] icastillejogomez commented on #8
no se puede hacer nada, el 98.87% (en el primer caso)  se lo pasa esperando a que MS responda... y vamos viendo los demás son todos de este estilo..

[2018-01-17 10:24] Robby2023 commented on #8
Le he pedido a @tavi004 que nos haga diseño de cargando para mostrarse mientras se están listando los correos

[2018-01-17 15:18] RJ64 commented on #14
Comprobad que este editor vaya mejor. Es tinymce, debería. Si eso mirad si queremos quitar alguna opción

[2018-01-17 17:47] Alb3niz opened #20 "Error de counter en correos eliminados"
Al borrar un email de la carpeta de emails eliminados, el email desaparece correctamente pero el counter de emails (no leidos) de la carpeta de correos eliminados suma una unidad en vez de restarla.

![outlook1](https://user-images.githubusercontent.com/26099829/35057957-c3b5a6bc-fbb6-11e7-88cb-18fba0681849.png)
![outlook2](https://user-images.githubusercontent.com/26099829/35057959-c5a0ddd4-fbb6-

[2018-01-17 17:56] Alb3niz commented on #14
Vale ya lo he comprobado y este funciona mucho mejor. Antes de cerrar el Issue hay un problema mas. El espacio entre lineas es demasiado grande y no veo forma de cambiarlo. Gmail usa TINYMCE y el espacio entre lineas en gmail esta bien.

![screen shot 2018-01-17 at 18 55 20](https://user-images.githubusercontent.com/26099829/35058369-06956246-fbb8-11e7-9488-e0652a17f419.png)

[2018-01-17 18:01] icastillejogomez opened #21 "Peticion de addAttachments ANTES de seleccionar el archivo."
Cuando pulsas sobre el boton "Adjuntar" a nuestro backend llega una petición de adjuntar con un FSNodeId vacío. Esta petición sobra.

Cuando seleccionas un archivo se vuelve a invocar addAttachments con el archivo especificado en "Adjuntar" (esta invocacion es la correcta)

[2018-01-17 18:02] icastillejogomez commented on #9
tienes que usar el método outlookSendMessage en vez de outlookSendMail porque sino el adjunto lo pierdes al enviarlo.

[2018-01-17 19:16] icastillejogomez commented on #19
el evento se llama `added-account` y se recibe solo si el proceso OAuth se ha completado con éxito.

![image](https://user-images.githubusercontent.com/16567802/35062031-3ce452e8-fbc3-11e7-8396-651fe6cb8393.png)

[2018-01-17 23:26] RJ64 commented on #20
Solved

[2018-01-17 23:29] RJ64 commented on #21
Done. Alguna cosa que se me quedaría por ahí

[2018-01-17 23:34] #21 closed, assigned to icastillejogomez

[2018-01-17 23:35] icastillejogomez opened #22 "El autoguardado se realiza por intervalo de tiempo y no cuando se modifica el correo (con una pequeña espera)"

[2018-01-17 23:36] icastillejogomez commented on #22
Esto también provoca llamadas recursivas a "getFolders".

[2018-01-17 23:37] #20 closed, assigned to Alb3niz

[2018-01-18 08:06] RJ64 commented on #19
Done

[2018-01-18 08:40] RJ64 commented on #22
Cambiado a que sea cuando el tinymce detecta un cambio

Las llamadas a getFolders es porque al autoguardar, hotmail manda un evento con taaanta información que no me queda otra más que investigar si el evento ha sido un marcar/desmarcar correo como leido y hay que actualizar las badges

[2018-01-18 10:11] RJ64 commented on #14
Es css. Solucionado

[2018-01-18 10:16] RJ64 commented on #9
Done

[2018-01-18 11:08] Alb3niz commented on #14
Si esta casi solucionado. Cuando salto de linea con Shift + Enter funciona pero cuando solo uso Enter el espacio entre lineas sigue siendo muy grande.

[2018-01-18 11:39] RJ64 commented on #12
Done

[2018-01-18 11:51] RJ64 commented on #14
Done

[2018-01-18 11:52] RJ64 commented on #15
Se pueden mover seleccionando los correos en la lista con los checkboxes. ¿Así os parece bien?

[2018-01-18 11:53] Alb3niz commented on #14
Perfecto! Cierro.

[2018-01-18 11:58] Alb3niz commented on #15
Si, esta muy guay asi! Cierro.

[2018-01-18 11:58] #15 closed, assigned to Alb3niz

[2018-01-18 12:15] javiergarmon opened #23 "Al añadir un adjunto en modo Redactar, el adjunto se comporta como si fuera un adjunto ya enviado"
![captura de pantalla 2018-01-18 a las 13 12 06](https://user-images.githubusercontent.com/1794673/35097655-5f757114-fc51-11e7-9ef0-c5ae5723f8b2.png)

Solo deja descargar o guardar en horbito, debería simplemente ofrecer las opciones de "Abrir" y de "Borrar del mensaje"

[2018-01-18 12:15] Alb3niz commented on #12
Si perfecto, igualito que el original. Lo unico que no me funciona aun es el boton de eliminar emails seleccionados.

[2018-01-18 12:28] RJ64 commented on #23
Cómo lo abro?

[2018-01-18 12:42] icastillejogomez commented on #9
Confirmado que ahora si se envian los correos con adjuntos. ¿La funcionalidad de drag&drop esta implementada? No nos funciona drag&drop a nosotros.

[2018-01-18 12:45] RJ64 commented on #23
No lo puedo desatachear. No función

[2018-01-18 12:49] Alb3niz commented on #12
Veo que el boton de eliminar los emails seleccionados ya funciona. Cierro issue

[2018-01-18 12:49] #12 closed, assigned to Robby2023, RJ64, Alb3niz

[2018-01-18 12:50] javiergarmon commented on #22
Una propuesta que te hago: autoguardado con delay e intervalo "inteligente".

[code]

[2018-01-18 12:54] RJ64 commented on #9
Cómo va a funcionar el drag&drop si habéis cambiado lo que devuelve el wz-drop?

[2018-01-18 12:55] icastillejogomez commented on #19
Si esta solucionado! Ahora hemos visto que hay una segunda llamada a listAccounts ¿Tiene algún sentido esa segunda llamada? ¿Se puede evitar?

Gracias Ricardo!!

Te dejo un vídeo donde se ve: http://wz.io/f/Y4KeUaZr

[2018-01-18 12:57] RJ64 commented on #9
Funcionando

[2018-01-18 13:03] RJ64 commented on #19
Sí claro. El evento added-account no me da los datos de la cuenta, sus funciones... No puedo operar en la cuenta sin todo eso

[2018-01-18 13:15] RJ64 commented on #22
Gracias @javiergarmon . Hecho.

[2018-01-18 13:30] #19 closed, assigned to icastillejogomez

[2018-01-18 13:38] icastillejogomez commented on #9
Genial, solo faltarían pequeños detalles de diseño para indicar al usuario donde soltar el archivo

![gmailissue](https://user-images.githubusercontent.com/16567802/35100750-396b958c-fc5d-11e7-8de8-b8f403c12935.png)

[2018-01-18 13:43] javiergarmon commented on #23
Una vez que tienes el FSNode (el objeto que te viene con el nombre y esas cosas) le haces `.open()` y ya está 😄

[2018-01-18 13:56] RJ64 commented on #9
Listo

[2018-01-18 15:15] jorge9200 commented on #9
seems good!

[2018-01-18 15:15] #9 closed, assigned to icastillejogomez

[2018-01-18 16:17] icastillejogomez commented on #22
Cumple la funcionalidad. Cierro.

[2018-01-18 16:17] #22 closed, assigned to icastillejogomez

[2018-01-18 16:29] RJ64 commented on #23
Listo

[2018-01-18 18:40] icastillejogomez commented on #17
![image](https://user-images.githubusercontent.com/16567802/35114737-0ec56906-fc86-11e7-96a0-0977a431a1fe.png)

He implementado la parte de contactos y el resultado es el siguiente (contactos guardados o alguien a quien enviaste un email):

- listContacts: devuelve todo el resultado de MS. No hago nada mas que de intermediario.
- listTinyContacts: que devuelve un objecto del tipo (al final del com

[2018-01-18 18:59] icastillejogomez opened #24 "Si el archivo que se intenta añadir pesa mas de 4MB se debe añadir como enlace"
Outlook tiene un limite en sus peticiones REST de 4MB y de ahí el límite. [Add attachment docs.](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/message_post_attachments) Como me estas pasando el id del FSNode, es parecido a como deciamos del open pero sin tantas complicaciones.

![image](https://user-images.githubusercontent.com/16567802/35115621-24574976-fc89-11e7-8ce4-12

[2018-01-18 19:01] icastillejogomez commented on #23
Listo, la opción de abrir la descartamos al final por suponer mucha complejidad. Elimina esa opción y listo. Cierro.

[2018-01-18 19:01] #23 closed, assigned to icastillejogomez

[2018-01-18 22:46] RJ64 commented on #24
Hecho. Lo que no estoy muy seguro es de los textos...

[2018-01-19 09:38] icastillejogomez commented on #24
a que te refieres con los textos? :smile:

[2018-01-19 10:37] icastillejogomez commented on #24
Confirmo que se "bloquea/detiene" el adjuntado de un archivo mayor a 4MB. Pero en ningún momento me pregunta si deseo link y después de una confirmación mía lo añada al contenido del cuerpo del mensaje.

[2018-01-19 10:52] tavi004 commented on #8
![image](https://user-images.githubusercontent.com/3248361/35147437-e3b171c2-fd0e-11e7-98f4-91669cc9cdb2.png)
El texto  lato 21px bold #9a9aa2
Assets: ![server-icon](https://user-images.githubusercontent.com/3248361/35147498-17c23618-fd0f-11e7-8753-e36734a51669.png)![server-icon 2x](https://user-images.githubusercontent.com/3248361/35147499-17dfadba-fd0f-11e7-9c58-fac865a39d7c.png)

[2018-01-19 11:26] Robby2023 opened #25 "Si juegas cambiando mucho entre las cuentas jodes el contador"
![image](https://user-images.githubusercontent.com/1384919/35148790-e9cd2830-fd13-11e7-9fd9-5d2483fed960.png)

[2018-01-19 11:35] Robby2023 opened #26 "Al enviar un correo se mandan demasiados intros"
Es es el correo en la ventana de redactar:

![image](https://user-images.githubusercontent.com/1384919/35149114-395f2262-fd15-11e7-956c-7a8c540b2aac.png)

Este es el correo tal y como se ve en Gmail:

![image](https://user-images.githubusercontent.com/1384919/35149134-4878e166-fd15-11e7-9874-05c5640c0ae9.png)

[2018-01-19 11:43] Robby2023 opened #27 "No hay soporte de tildes en Outlook"
A veces las tildes se joden:

![image](https://user-images.githubusercontent.com/1384919/35149445-63973bf4-fd16-11e7-8790-911fd9c50788.png)

[2018-01-19 12:05] Robby2023 opened #28 "A veces el nombre no se muestra bien en la app"
![image](https://user-images.githubusercontent.com/1384919/35150128-6d9e8190-fd19-11e7-9d65-1ac438f17ffe.png)

[2018-01-19 12:12] Robby2023 opened #29 "Los correos tardan mucho en enviarse"
Actualmente cuando escribes un nuevo correo y le das a enviar, tarda mucho en cerrarse la ventana, debería de ser instantáneo. Si es porque se está esperando la respuesta de confirmación por parte de Microsoft, lo suyo sería lanzar un banner diciendo "Correo enviado" cuando haya confirmación y si hay algún error soltarlo también por el banner.

[2018-01-19 12:14] Robby2023 opened #30 "El campo de redacción de correo debería ampliarse con la ventana"
Actualmente si tengo la ventana pequeña y le doy a nuevo correo, si decido ampliar en ese momento la ventana el campo para redactar el correo no se amplía junto con la ventana (en ancho si, en alto no):

![image](https://user-images.githubusercontent.com/1384919/35150432-a84bd648-fd1a-11e7-9634-dfa0e4a8274a.png)

[2018-01-19 12:15] Robby2023 opened #31 "Cuando le doy a nuevo correo debería poner el foco del cursor en el "To""
Sería muy cómodo que al darle a nuevo correo te pusiese el foco del cursor en el campo de "To" porque lo primero que tienes que hacer cada vez que le das a nuevo correo es hacer click en ese campo para escribir.

[2018-01-19 12:17] Robby2023 opened #32 "El "To" debería ser un label del input"
Cuando estoy escribiendo un correo, si quiero cambiar los destinatarios, sin querer muchas veces le doy al "To" porque me creo que eso va a activar el input para escribir pero sin embargo resulta que tengo que hacer click un poco hacia la derecha que es donde de verdad está el input.

[2018-01-19 15:33] Alb3niz opened #33 "Función de <Borrar Emails> al seleccionar checkboxes no funciona bien"
Cuando selecciono uno o mas correos mediante sus "checkboxes" y presiono <Borrar Emails> los emails se eliminan pero si recargo Horbito, vuelven a aparecer en la bandeja de entrada.

Borrarlos mediante el icono de la papelera o mediante Mover a -> Elementos Eliminados funciona bien.

[2018-01-19 15:58] Alb3niz commented on #33
Hemos investigado y parece ser que al realizar el moveMessage al clicar sobre Delete Mails no esta moviendo el mail realmente, xq realizando el handle del callback de la petición

![image](https://user-images.githubusercontent.com/26099829/35158585-cd94d374-fd37-11e7-8ac5-c120ae9e7ece.png)

![image](https://user-images.githubusercontent.com/26099829/35158592-d1b580de-fd37-11e7-8270-5ca5e01414aa.pn

[2018-01-20 04:55] icastillejogomez opened #34 "Tratamiento incorrecto de errores"
Me he estado fijando y hay veces que tratas los errores de forma erronea. Al adjuntar un correo (debido a un fallo en un test que estoy haciendo como te he comentado) recibo un error "SERVER UNVAILABLE" y outlook me pregunta que si quiero añadir el archivo como enlace porque pesa más de 4MB.

Por norma general, y si @javiergarmon no dice lo contario, ante un error el programa se detiene por comple

[2018-01-23 09:52] RJ64 commented on #24
Sí ques salen pero hasta que no se ha subido del todo. Ya se ha modificado para que compruebe el tamaño antes de adjuntarlo

[2018-01-23 09:52] RJ64 commented on #25
Solucionado

[2018-01-23 09:53] RJ64 commented on #26
Solucionado. Ahora es más representativo

[2018-01-23 09:54] RJ64 commented on #27
En principio no es un problema mío. Yo muestro lo que recibo. Miralo con @icastillejogomez a ver qué podría ser

[2018-01-23 09:55] RJ64 commented on #28
Igual aquí, en principio no es un problema mío. Yo muestro lo que recibo. Miralo con @icastillejogomez a ver qué podría ser

[2018-01-23 09:59] RJ64 commented on #29
¿Y qué hacemos? ¿Según le des al botón de enviar volvemos a la carpeta donde estuviera y el usuario se queda sin saber si se ha enviado o no o qué hasta que se envíe y le mostramos una alerta con el resultado? En un primer momento se quedaría un poco perdido sin saber si se ha enviado o no y la alerta de enviado o error lo recibiría a lo mejor cuando está haciendo otras cosas. Tampoco lo veo como

[2018-01-23 10:00] RJ64 commented on #30
No tengo la forma de saber si se redimensiona la ventana. ¿Tenéis algún evento así?

[2018-01-23 10:00] RJ64 commented on #31
Hecho

[2018-01-23 10:01] RJ64 commented on #32
No es así como funciona outlook, el to no es un label. Lo que si hemos hecho es que al hacer click en el To se focuse en el input

[2018-01-23 10:01] RJ64 commented on #33
Listo

[2018-01-23 10:02] RJ64 commented on #34
Lo hemos modificado para que todos los errores den un alert con un mensaje de error. Decídme finalmente lo que queréis que ocurra y lo hacemos

[2018-01-23 11:23] Robby2023 commented on #25
Tiene buena pinta

[2018-01-23 11:23] #25 closed, assigned to Robby2023

[2018-01-23 11:26] Robby2023 commented on #26
El problema no es a la hora de representarlo en el TinyMCE sino en eliminar esos dobles intros. Ahora no puedo enviar mensajes con intros o sino se ven así:

![image](https://user-images.githubusercontent.com/1384919/35273327-7e09d382-0038-11e8-86e4-daa0f44c75d3.png)

Así es como se debería de ver:

![image](https://user-images.githubusercontent.com/1384919/35273364-a1a84a80-0038-11e8-83c7-5fa2a32

[2018-01-23 11:28] Robby2023 commented on #29
La solución es mandar al usuario a la carpeta al darle al botón de enviar y lanzar un popup cuando se haya enviado correctamente o lanzar un popup diciendo que ha habido un error si ocurre.

[2018-01-23 11:30] Robby2023 commented on #30
No me reasignes cada vez que tengas una pregunta, menciona a la persona a la que haces la pregunta y listo. Por ejemplo @icastillejogomez o @jorge9200

[2018-01-23 11:30] Robby2023 commented on #31
Perfe

[2018-01-23 11:30] #31 closed, assigned to Robby2023

[2018-01-23 11:30] Robby2023 commented on #32
Eso es exactamente lo que quería, perfect

[2018-01-23 11:30] #32 closed, assigned to Robby2023

[2018-01-23 11:34] Alb3niz commented on #33
Perfecto! Cierro Issue.

[2018-01-23 11:34] #33 closed, assigned to Alb3niz

[2018-01-23 11:44] RJ64 commented on #26
@Robby2023 Sé lo que dices pero ahora la representación se corresponde más fielmente a cómo se va a ver en la recepeción. Si quieres meterle dos intros en un correo vas a ver cuando lo estés creando el espacio que habrá entre un párrafo y el siguiente y será lo que recibe el receptor. Si quieres menos espacio le metes solo un enter

![creando](https://user-images.githubusercontent.com/2165183/3527

[2018-01-23 15:23] Alb3niz opened #35 "Copiar y Pegar en TINYMCE"
1 - Dentro del editor de texto, al hacer click derecho, no da la posibilidad de copiar y pegar. Nosotros usamos cmd + V / C pero un usuario de a pie seguramente eche de menos esta opcion. A ver si puedes investigar si TINYMCE soporta esta caracteristica. Si no pues nada.

[2018-01-24 01:37] icastillejogomez commented on #24
Sigo sin verlo. Te dejo un video: http://wz.io/f/29Y1LfZE

Cuando el usuario selecciona sus archivos con el selectSource de api FS te devuelve un array con ids, como ya sabrás.
Si haces ` api.fs( fsNodeId, ( err, fsNodeData ) => { console.log( fsNodeData.size ) } ) `

Deberías obtener el tamaño y comprobar si es mayor o menos al máximo establecido. Confirmo que en mi caso, ahora mismo hace 10 minu

[2018-01-24 01:39] icastillejogomez commented on #34
En un principio el mensaje que ya pones mas la variable err.

[2018-01-24 09:35] Robby2023 commented on #26
De acuerdo

[2018-01-24 09:35] #26 closed, assigned to Robby2023

[2018-01-26 10:34] RJ64 commented on #34
Ok

[2018-01-26 10:35] RJ64 commented on #29
Hecho

[2018-01-26 10:35] RJ64 commented on #24
Justo el arrastre no había caido y no estaba implementado. Ya está listo

[2018-01-26 10:36] RJ64 commented on #8
Listo

[2018-01-26 10:45] Alb3niz commented on #35
Vale ya veo la opcion de pegar pero cuando pego me dice que mi browser no soporta la funcion acceder a mi clipboard.

![screen shot 2018-01-26 at 11 37 18](https://user-images.githubusercontent.com/26099829/35436350-5d86f3e4-028e-11e8-8744-09311b10a9bd.png)

[2018-01-26 11:15] RJ64 commented on #35
En algunos navegadores no funciona. Al editor de documentos de Google Drive también le pasa

![screenshot-2018-1-26 121html html](https://user-images.githubusercontent.com/2165183/35437391-816db3ca-0292-11e8-9de3-f3109aa51a99.png)

[2018-01-26 11:15] RJ64 commented on #35
Como queráis, lo dejamos o lo quitamos

[2018-01-26 11:23] Alb3niz commented on #35
Vale perfect. Hable con Javi y me dijo que mejor lo dejamos asi como esta ahora. Que de la opcion pero que tambien se vea el error que dice lo que tienes que hacer. Cierro.

[2018-01-26 11:23] #35 closed, assigned to Alb3niz

[2018-01-27 07:05] icastillejogomez commented on #34
http://wz.io/f/kVv5pBez

[2018-01-27 07:09] icastillejogomez commented on #24
Cuando haces click va bien, pero con drag a drop creo que no envias el id. Definitivamente no funciona ya que devuelve un error BAD_PARAMS

[2018-01-29 11:13] RJ64 commented on #34
Solucionado

[2018-01-29 11:24] RJ64 commented on #24
Solucionado. Ha sido por el api.fs que he iontroducido para averiguar el peso. No hice las pruebas cuando pesaba menos de 4MB.

[2018-01-29 12:23] RJ64 commented on #17
A ver qué opináis?

[2018-01-29 12:42] #34 closed, assigned to icastillejogomez

[2018-01-29 12:45] #24 closed, assigned to icastillejogomez

[2018-01-29 12:52] jorge9200 commented on #14
Oye @RJ64 ha vuelto a pasar lo de los saltos de linea. Si le doy al Enter mete un salto enorme y si le doy Shift+Enter mete el espacio correcto.

Debería meter siempre el correcto (independientemente de usar Shift o no)

[2018-01-29 12:52] RJ64 commented on #30
Done

[2018-01-29 13:02] RJ64 commented on #14
Modificado el comportamiento, es lo que hace outlook pero no me parece lo correcto. En la edición de un correo un enter debería ser un nuevo párrafo como hace el thunderbird, pero bueno. Listo

[2018-01-29 13:34] #14 closed, assigned to jorge9200

[2018-01-29 13:36] tavi004 commented on #8
A mi me sale el retina y estoy en pantalla normal (el pequeño es para normal y el grande retina)

[2018-01-29 13:44] Robby2023 commented on #29
Ahora mismo estás lanzando un alert cuando el correo se manda correctamente. En su lugar deberías lanzar un banner, @jorge9200 te pasa la docu

[2018-01-29 14:03] #30 closed, assigned to Robby2023

[2018-01-29 14:04] jorge9200 commented on #29
Toma este como ejemplo
![image](https://user-images.githubusercontent.com/8724844/35514216-c2c5d422-0505-11e8-960e-10c5b01a657f.png)

[2018-01-29 14:05] jorge9200 commented on #29
pero en vez de 522 usa 521

[2018-01-29 14:08] jorge9200 commented on #29
a

[2018-01-29 14:09] jorge9200 commented on #8
y para el tema del icono en retina nosotros usamos esta media query de css:
![image](https://user-images.githubusercontent.com/8724844/35514366-41079a5a-0506-11e8-96ee-7436914db48b.png)

[2018-01-29 17:41] RJ64 commented on #29
done

[2018-01-29 17:46] jorge9200 commented on #29
fix

[2018-01-29 17:46] #29 closed, assigned to jorge9200

[2018-01-29 17:47] RJ64 commented on #8
Hecho

[2018-01-29 17:48] jorge9200 commented on #8
fix

[2018-01-29 17:48] #8 closed, assigned to tavi004, jorge9200

[2018-01-30 11:26] jorge9200 commented on #17
@Alb3niz puedes grabar un video del error que te daba usando el autocompletado please?

[2018-01-30 11:36] Alb3niz commented on #17
Mientras mas letras escribo, mas oscura se pone la pantalla y mas veces tengo que darle aceptar al error para volver a la normalidad.

[Autocompletar error.zip](https://github.com/Inevio/Outlook/files/1677480/Autocompletar.error.zip)

[2018-01-30 11:38] jorge9200 commented on #17
si necesitas te dejamos un acceso a su cuenta

[2018-01-30 11:50] RJ64 commented on #17
Vale, me da que ya sé por qué te pasa. Es porque no teníais pedido antes los permisos a los contactos. Necesitas dárselos. Elimina la cuenta y vuelve a introducirla

[2018-02-12 13:54] saragsc opened #36 "Eliminar acciones en edición de texto"
¿Sería posible eliminar las siguientes acciones que se pueden hacer desde view?
Visual aids,
show invisible characters
show bloks.

Preview es muy útil, sin embargo está también en file. ¿podemos quitarlo de file y dejarlo solo en view?

[2018-02-12 14:03] saragsc opened #37 "Error al "marcar todo como leído""
![imagen](https://user-images.githubusercontent.com/36300363/36100184-af9d9906-1005-11e8-9d2b-b43da940bc1a.png)

Al marcar todos como leidos aparece este error. Además no realiza la acción y quedan correos como sin leer.

[2018-02-12 14:08] saragsc opened #38 "Marcar como no leído"
No tenemos la opción de marcar mail como no leído

[2018-02-12 14:11] #38 closed, assigned to RJ64

[2018-02-12 14:18] jorge9200 opened #39 "Capturar evento al añadir cuenta"
Hemos añadido un evento q se dispara cuando metes una nueva cuenta. Falta mertelo cuando estas en login (no tienes cuentas) e introduces tu primera cuenta y al añadir cuenta dentro de la vista de correos.
[code]

[2018-02-12 14:18] saragsc opened #40 "Eliminar insertar imagen"
"Instert image"
"insert media"
habría que eliminar estas dos acciones, solo se permite adjuntar desde horbito. Con "adjuntar"de la parte inferior y superior sería suficiente.

[2018-02-12 15:24] saragsc opened #41 "Responder varios destinatarios"
Al "responder a todos" un correo recibido con un remitente y otro en copia aparece también mi dirección de correo.
![image](https://user-images.githubusercontent.com/36300363/36104001-1865ee2e-1011-11e8-8e16-35ae8b73a522.png)

[2018-02-12 15:34] saragsc opened #42 "Reenviar correo con adjunto"
Al reenviar un correo con un archivo adjunto dicho archivo no aparece en el correo. Desaparece

[2018-02-12 15:43] saragsc opened #43 "abrir mail filtrado por palabra"
Cuando se busca un mail que contenga cierta palabra, tras la búsqueda no se puede abrir ningún mail.
He buscado por la palabra factura, me enseña todos los mails que contienen la palabra y al pulsar en cualquiera de ellos para abrir, no lo hace.

[2018-02-12 16:51] RJ64 commented on #39
Solventado. Faltaba una cosa por lo de start.js

[2018-02-12 16:52] RJ64 commented on #40
Quitado

[2018-02-12 16:56] RJ64 commented on #36
Puedo quitar show invisible characters y show bloks pero no puedo quitar visual aids ni escoger dónde se muestra preview

[2018-02-12 17:08] RJ64 commented on #43
Solucionado

[2018-02-12 17:15] RJ64 commented on #41
Solucionado

[2018-02-12 17:25] jorge9200 commented on #42
igual que gmail hay q implementar esto

[2018-02-12 17:25] jorge9200 commented on #39
fenomeno

[2018-02-12 17:25] #39 closed, assigned to jorge9200

[2018-02-13 14:26] Alb3niz opened #44 "Los borradores no guardan correos adjuntados previamente."

[2018-02-13 14:29] Alb3niz opened #45 "[Poco Importante] Espera durante la busqueda de emails"
Mientras se espera a que aparezcan los resultados de la busqueda esto es lo que se ve:

![screen shot 2018-02-13 at 15 27 52](https://user-images.githubusercontent.com/26099829/36154691-88db6460-10d2-11e8-80fb-15de77ecb2cd.png)

Quizas se podria poner una imagen tipo loading o algo... aunque sea un "Loading..."

[2018-02-13 14:33] Alb3niz opened #46 "Error en busqueda de emails cuando se usa algun caracter que no sea una letra."
Solo se pueden usar letras o espacios. Cuando se usan caracteres de tipo @ , . _ - ! sale el error de Object Object.

[2018-02-13 14:34] Alb3niz commented on #43
Perfect, cierro.

[2018-02-13 14:34] #43 closed, assigned to saragsc

[2018-02-13 14:37] Alb3niz commented on #41
Cierro.

[2018-02-13 14:37] #41 closed, assigned to saragsc

[2018-02-14 11:07] #40 closed, assigned to saragsc

[2018-02-14 11:07] #36 closed, assigned to saragsc

[2018-02-15 13:41] jorge9200 commented on #42
De momento pondremos un alert cada vez q se intente renviar un correo con adjuntos avisando al usuario que debe descargar los archivos y volver a adjuntarlos en caso de querer mantener los adjuntos

[2018-02-15 14:04] RJ64 commented on #42
Hecho

[2018-02-19 14:42] #28 closed, assigned to icastillejogomez

[2018-02-19 15:27] Alb3niz commented on #17
A mi el autocompletar sigue sin funcionarme. Ahora simplemente esta totalmente desactivado.

[2018-02-20 13:06] RJ64 commented on #17
Funciona a partir de 3 caracteres. Dame acceso a tu cuenta y lo miro pero va a ser que no coincidirá lo que escribas con las posibles sugerencias que me de microsoft

[2018-02-21 13:17] RJ64 commented on #46
Solucionado. Se filtra de lo que escriba y solo se buscan los caracteres y números

[2018-02-21 13:18] RJ64 commented on #45
Ya tiene el mismo mensaje que entrando en una carpeta

[2018-02-21 13:18] RJ64 commented on #37
Solucionado. Los va marcando como leido poco a poco en vez de todas de golpe

[2018-02-21 13:34] Alb3niz commented on #45
Perfecto cierro!

[2018-02-21 13:34] #45 closed, assigned to Alb3niz

[2018-02-21 13:36] Alb3niz commented on #46
Cierro.

[2018-02-21 13:36] #46 closed, assigned to Alb3niz

[2018-03-02 11:53] Alb3niz commented on #17
Hemos probado un par de personas y a ninguno nos funciona de momento.

[2018-03-21 07:56] icastillejogomez commented on #42
La única forma de hacerlo es crear un nuevo borrador vacío y a este, añadirle el archivo adjunto.

[2018-03-21 07:58] icastillejogomez commented on #27
A mi me funcionan bien todas las tildes. @Robby2023 sigue pasandote? @jorge9200 lo has experimentado alguna vez? Necesitaría ver un caso para investigar si viene asi desde back o la causa esta en front.

[2018-03-21 07:58] icastillejogomez commented on #27
@RJ64 tu has experimentado este bug? Has podido comprobar por las tramas del websocket si el fallo esta en back?

[2018-03-21 08:01] icastillejogomez commented on #37
Podría implementarse fácilmente iterando sobre los id's de la página que se esta mostrando y hacerlo con JS desde front. No sería nada costoso.

[2018-03-21 08:02] icastillejogomez commented on #17
A mi me funciona bien autocompletar. Que pasa con esta issue @Alb3niz @jorge9200 ?